.container{
    display: grid;
    grid-template-areas:" header"
    " main main"
}
body {
    background-image: url("sky.png");
    background-color: #cccccc;
 }
 .logo {
    margin-top: 60px;
    grid-area: header;
    grid-column-start: 2;
}
.name {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    
}