.container > div {
  display: flex;
  justify-content: Left;
  align-items: Left;
  color: black;
  font-family: 'Montserrat', sans-serif;;
}

html, body {
  box-sizing: border-box;
  background-color: white;
  height: 100%;
  padding: 20px;
  margin: 0px;
}

.container > div:nth-child(1n) {
  background-color:#ffffff;	


}

.container > div:nth-child(3n) {
  ;
}

.container > div:nth-child(2n) {
  background-color: white;
}

.container > div:nth-child(4n) {
  background-color: white;

}
p{
  padding-top: 100px;
  font-size: 1.5em;
}
