.container{
    display: grid;
    grid-template-areas:" header"
    " main main"
}
body {
    background-image: url("sky.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
 }

.name {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
   
}
.info{
    text-align: left;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    grid-area:header;
}